### **Encoding is a techniques of converting ***categorical variables into numerical values*** so that they can be easily fitted to a machine learning model.**

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("car_dataset.csv")
df.head()

     brand  km_driven  selling_price
0    Tesla     138767        1796176
1   Toyota     129375        2186013
2    Tesla     184262        4934096
3  Hyundai     141330        2956138
4   Toyota      44504        3660011

In [5]:
df.brand.unique()

array(['Tesla', 'Toyota', 'Hyundai'], dtype=object)

In [9]:
df.brand = df.brand.replace(['Tesla', 'Toyota', 'Hyundai'], [1,2,3])
df.brand.head()

0    1
1    2
2    1
3    3
4    2
Name: brand, dtype: int64

In [10]:
df.brand = df.brand

In [12]:
df.head()

   brand  km_driven  selling_price
0      1     138767        1796176
1      2     129375        2186013
2      1     184262        4934096
3      3     141330        2956138
4      2      44504        3660011