#### ***Label Encoding is a technique used to convert categorical values (like strings) into numeric values (integers) so that machine learning algorithms can process them.***                
 
**For example, if  brand column has:**      
- **Toyota → 2**        
- **Hyundai → 0**      
- **Tesla → 1**    
***It Works on alphabatical orders.***

***⚠***️ ***Note: Label Encoding introduces an ordinal relationship (order) among categories, which may not always be meaningful. For algorithms sensitive to order (like Linear Regression), One Hot Encoding is usually better.***

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("car_dataset.csv")
df.head()

     brand  km_driven  selling_price
0    Tesla     138767        1796176
1   Toyota     129375        2186013
2    Tesla     184262        4934096
3  Hyundai     141330        2956138
4   Toyota      44504        3660011

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
label_encoder = LabelEncoder()

In [52]:
df['brand'] = label_encoder.fit_transform(df['brand'])

In [53]:
df.head()

   brand  km_driven  selling_price
0      1     138767        1796176
1      2     129375        2186013
2      1     184262        4934096
3      0     141330        2956138
4      2      44504        3660011