#### ***A Hashing Encoder is a way to convert categorical data into numbers, just like Ordinal or OneHot Encoders, but it works differently.***
- ***Instead of creating one column for each category, it uses a hash function to map categories into a fixed number of numeric columns.***
- ***This makes it memory-efficient and useful for high-cardinality categories (lots of unique values).***

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("car_dataset.csv")
df.head()

     brand  km_driven  selling_price
0    Tesla     138767        1796176
1   Toyota     129375        2186013
2    Tesla     184262        4934096
3  Hyundai     141330        2956138
4   Toyota      44504        3660011

In [21]:
df['brand'].unique()

array(['Tesla', 'Toyota', 'Hyundai'], dtype=object)

In [22]:
import category_encoders as ce

In [23]:
hashing_encoder = ce.HashingEncoder(cols='brand',n_components=3)

In [24]:
df = hashing_encoder.fit_transform(df)
df.head()

   col_0  col_1  col_2  km_driven  selling_price
0      1      0      0     138767        1796176
1      0      0      1     129375        2186013
2      1      0      0     184262        4934096
3      0      1      0     141330        2956138
4      0      0      1      44504        3660011